.style__heading___29i1Z {
    margin: 0 0 .7em;
    font-family: Suisse Int\'l,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
 color: rgba(0, 0, 0, .98);
    line-height: 1.33em;
    font-weight: 500;
}

.style__large___15W-p {
    font-size: 18px;
}

.style__heading___29i1Z.style__fitted___3L0Tr {
    margin: 0;
}

.style__flex___fCvpa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.style__justify-space-between___F3m5J {
    justify-content: space-between;
}

.style__flex-item___2eWZ4 {
    min-width: 0;
    flex: 0 1;
    order: 0;
}

Style Attribute {
    flex: 0 1 auto;
    order: 0;
}

.style__edit-action___3rbYd {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px;
    opacity: 0;
    color: #1569e0;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.student-education__details {
    line-height: 1.75em;
}

.style__text___2ilXR {
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    line-height: 22px;
}

.student-profile-card__content-tertiary-title {
    font-size: 1em;
    margin: 0 0 0.3em;
}

.style__small___1Nyai {
    font-size: 13px;
    line-height: 20px;
}

.student-profile-card__details-label {
    font-weight: bold;
}